/*

font-family: 'Open Sans', sans-serif;
font-family: 'Montserrat', sans-serif;
font-family: 'Libre Baskerville', serif; 

*/
html {
   
    margin: 0;
    padding: 0;
    
}
body {
    
   
    font-family: 'Open Sans', sans-serif;
    font-size: 24px;
    font-weight: 300;
    box-shadow: 0 0 20px #e0ded5;
   
    margin: 0 auto;
    padding: 0;
    
    padding: 0 2px;
}
.wrapper {
    max-width: 1368px;
    width: 100%;
    margin: 0 auto;
  
}
.clearfix {
    clear: both;
}
h3 {
    font-family: 'Montserrat', sans-serif;
    font-size: 36px;
    font-weight: bold;
}
.header{
    width: auto;
    height: 550px;
    background-image: url(img/header_desktop-min.png);
    margin-bottom: 150px;
    background-color: #4d4037;
    
}
.header__title {
    font-family: 'Libre Baskerville', serif; 
    font-size: 54px;
    font-weight: bold;
    color: #ededed;
    width: 36.54%;
    padding-top: 35px;
    padding-left: 7.30%;
}
.header__titlea::selection ,h1::selection ,h2::selection ,h3::selection ,p::selection ,a::selection, img::selection {
    background-color: #3d3d3d;
    color: #ededed;
    
    
}
.header__logo {
    padding-left: 7.30%;
    padding-top: 30px;
    display: block;
    width: 40px;
    height: 40px;
    
}
.header__menu ul {
    list-style: none;
    margin: 0;
    padding-left: 0;
    
    margin-top: -40px;
    display: block;
    
    
}
.header__menu li {
    
    float: left;
    padding-left: 30px;
    
    
}
.header__menu {
    display: block;
    float: right;
    margin-right: 7.30%;
}
.header__menu a {
    text-decoration: none;
    color: #ededed;
    font-size: 18px;
}
.header__menu a:hover {
    color: white;
    
}

/* ----------------------------------------------*/
.main {
   
}
.main__wrapper {
    background-color: #e0ded5;
    width: 100%;
    max-width: 1368px;
}

.main__features, .main__languages, .main__courses {
    
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: top;
    background-color: #e0ded5;
    
    margin: 0 auto;
    margin-bottom: 50px;
    width: 1185px;
    width: 86.62%;
   
    
}
 .main__wrapper:nth-child(2) , .main__languages   {
    
    background-image: url(img/lang_desktop-min.png);
    background-position: center;
    
}
.main__item {
    display:block;
    
    max-width: 370px;
    
    width: 28%;
    min-height: 300px;
    height: 50vm;
    padding-right:20px;
    padding-left:20px;
    background-color: white;
    text-align: center;
    opacity: 0.9;
    
}
.main__item--title{
    margin: 0;
    padding: 0;
    margin-top:    30px;
    margin-bottom: 15px;
    width: 100%;
    padding: 0;
   
    
}
.main__item p{
    margin-top:    20px;
    margin-bottom: 35px;
    font-size: 24px;
    padding: 0 1%;
    display: block;
    width: 100%;
    
    
}
.main__item img {
    margin: 0;
    padding: 0;
}
.main__languages .main__item{
    opacity: 0.7;
}
.main__languages .main__item:hover{
    opacity: 0.85;
    box-shadow: 0 5px 5px rgba(0,0,0,0.5);
}
.main__courses .main__item:hover,.main__features .main__item:hover{
    opacity: 1;
    box-shadow: 0 5px 5px rgba(0,0,0,0.5);
}

/*------------------------------------------------*/


.map {
    margin-top: 150px;
    display: block;
    width: auto;
    height: 500px;
    background-image: url(img/map_desk-min.png);
    background-position: center;
    margin-bottom: 30px;
}
.map p {
    color: #ededed;
    font-size: 18px;
    padding: 0;
    margin: 0;
    padding-left: 18px;
}
.map__text{
    display: block;
    width: 112px;
    height: 50px;
    border-radius: 10px;
    background-color: #3d3d3d;
    position: relative;
    top: 12%;
    left: 32%;
   
    
}
.map__icon {
    position: relative;
    top: 30%;
    left: 60%;
}

/*----------------------------------------------*/

.footer {
    display: block;
    width: 100%;
    min-height: 200px;
    background-color: #3d3d3d;
    color: #ededed;
    font-size: 18px;
}
.footer li{
    list-style: none;
    
}
.footer ul {
    padding: 0;
    margin: 0;
}
.footer__left{
    display: block;
    float: left;
    max-width: 360px;
    width: 26.31%;
    
    padding-top: 40px;
    
    padding-left: 7.89%;
}
.footer__item{
    display: block;
    float: left;
    margin: 0;
}
.footer__item--icon{
    display: block;
    float: left;
    margin-right: 20px;
    margin-bottom: 25px;
   
}

.footer__item--text {
    display: block;
    float: left;
    margin: 0;
    
    margin-left: 10px;
    
}


.footer__right {
    display: block;
    float: right;
    max-width: 360px;
    padding-top: 40px;
    width: 26.31%;
    padding-right: 4.9%;
   
    
}

.footer__img {
    display: block;
    float: right;
    margin-top: 30px;
    margin-right: 50px;
    
}
.footer__img a{
    display: block;
    float: left;
    font-size: 0;
    margin-right: 15px;
    
}
.footer__img a:last-child{
    
    margin-right: 0;
    
}
.footer__copy {
    margin: 0;
    padding: 0;
    margin-top: 100px;
    
    
    
}

.flexible-image {
    max-width: 100%;
}

/*------------------------------------------*/

@media screen and (max-width: 1200px) and (min-width: 741px) {
     .header__title {
        width: 70%;
         
    }
    .header {
        margin-bottom: 50px;
        height: 450px;
    }
    .main__features, .main__languages, .main__courses {
        display: flex;
        justify-content:space-between;
        width: 100%;
    }
    .main__item {
        width: 100%;
        margin-bottom: 2px;
        margin-right: 1px;
        margin-left: 1px;
        
    }
   
    .map {
        margin-top: 40px;
    }
}


@media screen and (max-width: 768px) and (min-width: 376px) {
     .header__title {
        width: 70%;
         font-size: 42px;
    }
    .header {
        margin-bottom: 50px;
        height: 450px;
        background-position: 1230px 1630px;
    }
    .main__features, .main__languages, .main__courses {
        display: block;
        
        width: 100%;
    }
    .main__item {
        width: 100%;
        max-width: 550px;
        margin-bottom: 2px;
        margin-right: 1px;
        margin-left: 1px;
        margin: 0 auto;
        margin-top: -33px;
    }
    .main__item--title{
       padding-top:10px;
    }
    .main__wrapper:nth-child(2) , .main__languages {
        background-image: url(img/header_desktop-min.png);
        background-position: top;
        background-size: 400%;
    }
    .map {
        margin-top: 40px;
    }
    .footer__item--icon{
        margin-right: 0;
    }
    .footer__right {
        width:90%;
       
        float: left;
        padding-left: 0.5%;
        padding-right: 0.5%;
        margin-left: 15px;
        padding-bottom: 15px;
        padding-top: 15px;
        border-top: 1px #ededed solid;
    }
    .footer__left {
       width:90%;
       padding-left: 0.5%;
        margin-left: 15px;
        padding-top: 15px;
    }
}

@media screen and (max-width: 375px) {
    .header {
      height: 350px;
        margin-bottom: 50px;
        background-position: 1200px 800px;
    }
    .header__title {
        width: 70%;
        font-size: 34px;
    }
    .main__item {
        width: 100%;
        margin-bottom: 2px;
    }
    .main__features, .main__languages, .main__courses {
        flex-direction: column;
    }
    .footer__right {
        width:90%;
       
        float: left;
        padding-left: 0.5%;
        padding-right: 0.5%;
        margin-left: 15px;
        padding-bottom: 15px;
        padding-top: 15px;
        border-top: 1px #ededed solid;
    }
    .footer__left {
       width:90%;
       padding-left: 0.5%;
        margin-left: 15px;
        padding-top: 15px;
    }
    .footer__img {
        float: right;
        margin-right: 25px;
    }
    .main__wrapper:nth-child(2) , .main__languages {
        background-image: url(img/header_desktop-min.png);
        background-position: top;
    }
    .map {
        margin-top: 40px;
    }
}